@charset "UTF-8";
@font-face {
  font-family: 'Confortaa';
  src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
}

:root {
  --bg-color-main: rgb(240, 240, 240);
  --bg-color-principal-01: white;
  --bg-color-principal-02: rgb(220, 220, 220);
  --font-color: rgb(0, 0, 0);
  --color-main-border: white;
  --color-button:black;
}

.dark-mode {
  --bg-color-main: black;
  --bg-color-principal-01: rgb(0, 0, 0);
  --bg-color-principal-02: rgb(255, 255, 255);
  --font-color: white;
  --color-main-border: white;
  --color-button: rgb(255, 255, 255);
  header img {filter: invert(100%);}
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Confortaa' ;
  color: var(--font-color);
}

body,
html {
  background: var(--bg-color-main);
}

main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 200px;
}

header span {
  float: right;
  cursor: pointer;
}

article {
  width: 793px;
  margin: 3% 0 3% 0;
  padding: 25px;
  background: var(--bg-color-principal-01);
  border: solid 1px;
  border-color: var(--color-main-border);
}

#content {
  display: flex;
  justify-content: space-between;
}

section#form {
  width: 275px;
  display: flex;
  margin: 50px 0 0 0;
}

iframe {
  width: 400px;
  height: 650px;
  margin: 50px 0 0 0;
  overflow: hidden;
  border: none;
  display: flex;
}

blockquote {
  background: white;
  max-width: 450px;
  width: calc(100% - 2px);
  border-radius: 3px;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: none;
  display: block;
  margin: 25px;
  min-width: 326px;
  padding: 0px;
}


section form input, section form textarea {
  width: 250px;
  height: 25px;
  margin: 10px 0 10px 0;
  display: block;
  background-color: var(--bg-color-principal-02);
}

section form textarea {height: 150px;}

section form button {
  width: 123px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--bg-color-principal-02);
}

section form button:hover {
background-color: black !important;
color: var(--color-button) !important;

}

footer p {
  margin: 50px 0 0 0;
  font-size: small;
}